.page-subtitle {
    font-size: 13px;
    text-transform: uppercase;
    color: var(--secondary);
    letter-spacing: 2px;
    margin-left: 30px;
    position: relative;
    bottom: 2px;
    text-shadow: 2px 2px 0px rgba(255,255,255,1);
}